BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
SpaceAfterCStyleCast: false
PointerAlignment: Right
AccessModifierOffset: -4
IndentCaseLabels: false
NamespaceIndentation: None
SortIncludes: false
IncludeBlocks: Preserve
